@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Paytone+One&display=swap');

.blog {

    .main {
        background: url('../img/blog/bg.jpg') no-repeat;
        background-position: right;
        background-size: cover;

        .ad {
            max-width: 570px;

            .card {
                border: none;
                border-radius: 0;
            }

            .card:nth-child(1) {
                position: relative;
                display: block;
                background: white;
                padding: 20px 0;
                color: #3f51cd;

                h1 {
                    font-size: 4.5em;
                    font-family: 'Nanum Gothic', sans-serif;

                    @media(max-width: 536px) {
                        font-size: 3.5em;
                    }

                    @media(max-width: 438px) {
                        font-size: 2.3em;
                    }

                    span {
                        font-family: 'Paytone One', sans-serif;
                    }
                }

                span.vineta {
                    position: absolute;
                    background: white;
                    width: 7em;
                    height: 7em;
                    bottom: -109px;
                    left: 34px;
                    z-index: 5;
                    clip-path: polygon(100% 0, 0 0, 100% 100%);

                    @media (max-width: 767px) {
                        width: 3em;
                        height: 3em;
                        bottom: -47px;
                        left: 35px;
                    }

                }

            }

            .card:nth-child(2) {
                padding-bottom: 100px !important;
                background: #3f51cd;
                color: whitesmoke;
            }
        }
    }

    .banner {
        background: white;

        img {
            object-fit: cover;
            height: 50vh;
        }

        .carousel-item {

            .card {
                color: #000;
                border: none;
                max-width: 600px;

            }
        }


    }

    .text-giant {
        position: relative;

        h1.giant {
            font-size: 38vw;
            font-family: 'Paytone One', sans-serif;
            position: absolute;
            left: -15vw;
            color: #0000001a;
        }
    }


    article {

        margin-top: 18vw;
        @media(max-width: 580px){
            margin-top: 33vw;
        }

        .articles {
            .card:nth-child(1) {
                border: none;
                position: relative;
                background: transparent;

                h1 {
                    font-size: 4em;

                    @media(max-width: 991px) {
                        font-size: 5vw;
                    }
                }

                span {
                    position: absolute;
                    width: 40px;
                    height: 5px;
                    border-radius: 50px;
                    background: blue;
                    top: 20px;
                    box-shadow: 1px 1px 17px #c300ff91;
                }
            }

            img:nth-child(1) {
                border-radius: 15px;
                box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
                // Hover ===========
                // box-shadow: 5px 5px rgba(183, 0, 255, 0.8),
                //     10px 10px rgba(183, 0, 255, 0.4),
                //     15px 15px rgba(183, 0, 255, 0.3),
                //     20px 20px rgba(183, 0, 255, 0.2),
                //     25px 25px rgba(183, 0, 255, 0.1),

                // ;
            }

            margin-top: 17%;

            .content-article {
                padding: 0 20%;
                line-height: 2;

                @media(max-width: 991px) {
                    padding: 0 10%;
                }

                p {
                    font-size: 1.3rem;

                    @media(max-width: 429px) {
                        font-size: 1rem;
                    }
                }

                .sub-article {
                    h3 {
                        border-bottom: 3px solid #00000026;
                        padding: 0 0 1vw 0;
                    }

                }
            }
        }


    }



    .blog-ads {

        .swiper-slide {
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .2s ease-in-out;

            &.swiper-slide-active {
                transform: translateY(-20px) !important;
                box-shadow: 0 20px 50px rgba(0, 0, 0, 0.11);
            }

            div.content-slide {
                position: absolute;
                bottom: 30px;
                padding: 10px;
                margin: 10px;
                background: #fff;
                color: #333;
                box-shadow: -3px 3px 15px #00000026;
                transition: all .3s ease-in-out;

            }

        }
    }

}